@model FunTourDataLayer.AccountManagement.Reservation

@{
	ViewBag.Title = "Details";
}

<h2> Details </h2>

<div>
	<h4>Reservation</h4>
	<hr />
	<dl class="dl-horizontal">
</div>

<p>
	@Html.ActionLink("Volver al Menu", "Index")
</p>
