@model FunTour.Models.TravelPackageViewModel
@{
    ViewBag.Title = "AddServicesToTravel";
}

<div class="container">
    <h3>Agregar Forma De Transporte</h3>

    @if (ViewBag.FlightOrBus == true)
    {
        <div>
            @Html.Partial("_AddFlightToTravelPackagePartialView", Model)

        </div>
    }
    else
    {
        <div>
            @Html.Partial("_AddBusToTravelPackagePartialView", Model)
        </div>
    }
    <br/>
        <div class="row">
            @Html.ActionLink("Volver Atrás", "AddPlaces", new { TravelPackageId = Model.Id_TravelPackage }, new { @class = "waves-effect waves-light btn blue lighten-1" })
        </div>
    <div class="row">
        @Html.ActionLink("Volver a la lista", "Index", new { @class = "waves-effect waves-light btn blue lighten-1" })
    </div>
    <br/>
</div>