@model FunTour.Models.TravelPackageViewModel

@{
    ViewBag.Title = "Eliminar Paquete";
}

<div class="container">
    <h3>Eliminar Paquete</h3>

    <h5>¿Está seguro de que desea eliminar este paquete definitivamente?</h5>
    <div>
        <dl class="dl-horizontal"></dl>

        @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.Partial("_TravelPackageDetails")
        <div class="form-actions no-color">
            <button class="waves-effect waves-light btn blue lighten-1" type="submit">Eliminar</button> 
            @Html.ActionLink("Volver a la lista", "Index", new { @class = "waves-effect waves-light btn blue lighten-1" })
        </div>

} 
        <br>
    </div>
</div>