@model FunTour.Models.TravelPackageViewModel

@{
    ViewBag.Title = "Details";
}

<div class="container">


    @Html.Partial("_TravelPackageDetails", Model)
    <p>
        @if (Model.Reservations.Count() == 0)
        {
            @Html.ActionLink("Editar", "Edit", new { id = Model.Id_TravelPackage }, new { @class = "waves-effect waves-light btn blue lighten-1" })
        }
        else
        {
            <a class="black-text">No se puede editar este paquete porque ya posee reservaciones.</a>
        }

        <br />

    </p>
    @Html.ActionLink("Volver a la lista", "Index", new { @class = "waves-effect waves-light btn blue lighten-1" })
    <br/>
</div>