@model FunTourDataLayer.Models.TravelPackage

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TravelPackage</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Package }) |
    @Html.ActionLink("Volver al Menú", "Index")
</p>
