@model IEnumerable<FunTourDataLayer.Reservation.TravelPackage>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2>Paquetes turísticos</h2>

    <p>
        <button class="waves-effect waves-light btn blue lighten-1" onclick="location.href='@Url.Action("Create", "TravelPackages")'">Crear nuevo</button>
    </p>
    <table class="table">
        <tr>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id_TravelPackage }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.Id_TravelPackage }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id_TravelPackage })
                </td>
            </tr>
        }

    </table>
</div>
