@model FunTour.Models.TravelPackageViewModel
@{
//Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
    ViewBag.Title = "Creando Paquete";
}

<h2>Confirmar Creacion:</h2>

@Html.Partial("_TravelPackageDetails", Model)
<p>
    @Html.ActionLink("Volver Atrás", "AddServicesInPlace", new { TravelPackageId = Model.Id_TravelPackage }, new { @class ="waves-effect waves-light btn blue lighten-1"})
    @Html.ActionLink("Guardar Paquete", "ConfirmCreation", new { TravelPackageId = Model.Id_TravelPackage }, new { @class = "waves-effect waves-light btn blue lighten-1" })
    @Html.ActionLink("Cancelar Creación", "CancelCreation", new { TravelPackageId = Model.Id_TravelPackage }, new { @class = "waves-effect waves-light btn blue lighten-1" })
</p>
