
@model IEnumerable<FunTour.Models.UserModel>
@{ 
//Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
    ViewBag.Title = "FunTour Administration";

}

<script>
    $(function () {
        $("#pbFilter").click(function () {
            $.get("/Admin/filter4FunTour", { _surname: $("#SurnameId").val() }, function (data) {
                $("#divFunTour").html(data);
            })
        })
    });

    $(function () {
        $("#pbReset").click(function () {
            $("#SurnameId").val('');
            $.get("/Admin/filterReset", {}, function (data) {
                $("#divFunTour").html(data);
            })
        })
    });

    $(document).ready(function () {
        $(":input[type='button']").button();
    });
</script>


<div class="container">


        <h5>Filtro de Búsqueda</h5>

        @Html.TextBox("SurnameId", string.Empty, new { style = "width:200px", maxlength = 30, placeholder = "Apellido" })


        <br /><br />
        <div class="row">
            <div class="col s2">
                <button class="waves-effect waves-light btn blue lighten-1" id="pbFilter" name="pbFilter">Filtrar</button>
            </div><div class="col s2">
                <button class="waves-effect waves-light btn red darken-1" id="pbReset">Reset</button>
            </div>
        </div>



    <br />
    <br />
    @Html.Partial("_ListUserTable", Model)
    <br />
    <div>
        <button class="waves-effect waves-light btn blue lighten-1" onclick="location.href='@Url.Action("UserCreate","Admin")'">Crear Usuario</button>
        <br />
    </div>
    <br /><br />
</div>
