@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


You will only see this page if you have the permission <b>'Home-Contact'</b> assigned to one of your Roles OR you are an Administrator (Role that has 'Is System Admin' set to true)...
