@{
    ViewBag.Title = "Home Page";
}
<!--Section: Slider -->
<body id="home" class="scrollspy">
    <section class="slider">
        <ul class="slides">
            <li>
                <img src="~/Content/images/Lobito lindo.jpg"> <!-- Mundial de Rusia -->
                <div class=" banner caption center-align">
                    <h1>¡Viajá al Mundial de Rusia 2018!</h1>
                    <h5 class="light grey-text text-lighten-3
                hide-on-small-only">
                        Viví ese sueño de alentar a la selección en la cancha con FanTour.
                    </h5>
                </div>
            </li>
            <li>
                <img src="~/Content/images/egresados.jpg"> <!-- Viaje de Egresados -->
                <div class="banner caption center-align">
                    <h1>¡Tené el mejor viaje de Egresados! </h1>
                    <h5 class="light grey-text text-lighten-3
                hide-on-small-only">
                        Explorá nuestras excelentes opciones en paquetes
                        de viajes de egresados.
                    </h5>
                </div>
            </li>
            <li>
                <img src="~/Content/images/disney-world-orlando-florida-castle.jpg"> <!-- viaje a Disney -->
                <div class="banner caption center-align">
                    <h1>¡Abordá una aventura llena de magia!</h1>
                    <h5 class="light grey-text text-lighten-3
                hide-on-small-only">
                        Explorá nuestras excelentes opciones en viajes a Disney World.
                    </h5>
                </div>
            </li>
            <li>
                <img src="~/Content/images/Kangaroo.jpg"> <!-- Australia -->
                <div class="banner caption center-align">
                    <h1>¡Conocé Australia!</h1>
                    <h5 class="light grey-text text-lighten-3
                hide-on-small-only">
                        Si, hay playas. Pero más importante, hay canguros.
                    </h5>
                </div>
            </li>
            <li>
                <img src="~/Content/images/Praga.jpg"> <!-- Praga -->
                <div class="banner caption center-align">
                    <h1>Viaja al destino favorito de Cuqui</h1>
                    <h5 class="light grey-text text-lighten-3
                  hide-on-small-only">
                        Podrás entablar conversaciones amenas con ella de tan encantador lugar en el mundo.
                    </h5>
                </div>
            </li>
        </ul>
    </section>


    <!--Section: Search-->
    <section id="search" class="section section-search purple darken-1
     white-text center scrollspy">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h4>Ingresá un destino y elegí tu paquete</h4>
                    <div class="input-field">
                        <input type="text" class="white grey-text autocomplete"
                               id="autocomplete-input" placeholder="Rusia, Disney, Orlando, Praga, Australia, Bariloche, etc...">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section: Icon Boxes -->
    <section class="section section-icons  purple darken-1 lighten-4 center">
        <div class="container">
            <div class="row">
                <div class="col s12 m4">
                    <div class="card-panel">
                        <i class="material-icons large cyan-text text-darken-1">room</i>
                        <h5>Temporada Baja</h5>
                        <p>Descubrí los mejores 10 destinos para visitar en temporada baja.</p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card-panel">
                        <i class="material-icons large cyan-text text-darken-1">airport_shuttle</i>
                        <h5>Experiencia completa</h5>
                        <p>Traslados incluidos a eventos populares en los diferentes destinos.</p>
                    </div>
                </div>
                <div class="col s12 m4 ">
                    <div class="card-panel">
                        <i class="material-icons large cyan-text text-darken-1">find_replace</i>
                        <h5>Destino al azar</h5>
                        <p>Obtené opciones para elegir tu próxima aventura.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--JavaScript at end of body for optimized loading-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script>
        //Sidenav
        const sideNav = document.querySelector('.sidenav');
        M.Sidenav.init(sideNav, {});
        //Slider
        const slider = document.querySelector('.slider');
        M.Slider.init(slider, {
            indicators: false,
            height: 500,
            transition: 500,
            interval: 6000
        });

        //Autocomplete
        const ac = document.querySelector('.autocomplete');
        M.Autocomplete.init(ac, {
            data: {
                "Disney": null,
                "Orlando": null,
                "Australia": null,
                "Praga": null,
                "Bariloche": null,
                "Rusia": null,
            }
        })

    </script>

</body>
<!--
@*<div class="page">

        <div id="menucontainer">
            <ul class="menuTemplate3 decor3_1">
                @{

                    if (ViewContext.Controller.IsSysAdmin())
                    {
                        <li>
                            <a href="#" class="arrow">System Administration</a>
                            <div class="drop decor3_2 dropToLeft" style="width: 160px;">
                                <div class='right'>
                                    <a href="/Admin">PruebaUsers</a><br />
                                    <a href="/Admin/RoleIndex">Roles</a><br />
                                    <a href="/Admin/PermissionIndex">Permissions</a><br />
                                </div>
                            </div>
                        </li>
                    }}
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>*@

            <div class="container">
            <div class="row">

<div class="col-2 bg-white shad-inf p-0">
    <div class="row p-0 m-3">
        <ul class="list-unstyled col-12 p-0">
            <font style="font-size: 12px">Current </font>
            <li class="h6"> User: @this.User.Identity.Name</li>
            @*<li><small>@ViewBag.user.Dni</small></li>
                <li><small>@ViewBag.user.Email</small></li>*@
            @*<li><h6><a class="col-12 btn btn-sm btn-inf mb-3" href="http://192.168.42.27:8000/Usuarios/editardatos/@ViewBag.user.id">Editar Datos</a></h6></li>*@
        </ul>

        <ul class="list-unstyled col-12 p-0">

            <li class="h6"> ADMINISTRADOR</li>
            <li><small><a href="/Admin">Usuarios</a></small></li>
            <li><small><a href="/Admin/RoleIndex">Roles</a></small></li>
            <li><small><a href="/Admin/PermissionIndex">Permissions</a></small></li>


        </ul>
    </div>
</div>
    -->
