<div class="jumbotron">
    <h1>BUS API</h1>
    <p class="lead">API para gestión de clientes, viajes y reservas de colectivos.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

