@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Hoteles</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>La "api" de Hoteles</h2>
        <p>
            Acá va la info de los hoteles
        </p>
    </div>
    <div class="col-md-4">
        <h2>Reservas</h2>
        <p>Se guardan las reservas de hotel y eso.</p>
        <p><a class="btn btn-default" href="https://subeta.net/news.php">Por acá &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Vení al slack</h2>
        <p>Entrá al slack bitch.</p>
        <p><a class="btn btn-default" href="https://cliente-servidor.slack.com/messages/CADJ08UUR/">Por acá &raquo;</a></p>
    </div>
</div>