<head>
    <link rel="stylesheet" href="css/main.css">
</head>


    <!-- Login Form -->
    <div class="container ">
        <div class="row login">
            <div class="col s8 offset-s2">
                <div class="card center login red lighten-1 white-text redonded">
                    <div class="card-action red darken-1 white-text redonded">
                        <h3 class="white-text text-darken-3" style="font-family:'Pacifico',cursive;">¡Alto ahí!</h3>
                    </div>
                    <h5>No tienes permiso para acceder a esta área</h5>
                <br />
                </div>
                <div class="row" align="center">
                    <div class="col s6"><button class="waves-effect waves-light btn blue lighten-1" onclick="location.href='@Url.Action("Register", "Account")'">Registrarse</button>
                    </div>
                    <div class="col s6">
                        <button class="waves-effect waves-light btn blue lighten-1" onclick="location.href='javascript:history.back()'">Volver</button>
                    </div>
                 
                    <br />
                </div>
                </div>
            </div>
        </div>
</body>
