<head>
    <link rel="stylesheet" href="css/main.css">
</head>


    <!-- Login Form -->
    <div class="container ">
        <div class="row login">
            <div class="col s8 offset-s2">
                <div class="card center login">
                    <div class="card-action grey lighten-3 white-text redonded">
                        <h3 class="purple-text text-darken-3" style="font-family:'Pacifico',cursive;">Oops!</h3>
                    </div>
                            <h5>Regístrate para acceder a esta área</h5>
                            <p>
                                @Html.ActionLink("Registrar como nuevo usuario", "Register")
                            </p>
                        </div>
                <br/>
                </div>
            </div>
        </div>
</body>
